.card {
    width: 260px;
    height: 370px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.120);
    border-radius: 5px;
}

.card:nth-of-type(2) {
    margin-top: 80px;
}

.card:nth-of-type(3) {
    margin-top: 160px;
}

.card_header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 20px;

    & img {
        margin-bottom: 10px;
    }

    & p {
        font-size: .90rem;
        color: hsl(229, 8%, 60%);
    }
}

.card_btn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-top: 2.5px dotted hsl(240, 1%, 84%);

    & button {
        width: 240px;
        height: 40px;
        background-color: hsl(231, 69%, 60%);
        border: 2px solid hsl(231, 69%, 60%);
        border-radius: 5px;
        font-size: 1rem;
        font-weight: 500;
        color: #fff;
        cursor: pointer;
        transition: all .5s ease;
    }

    & button:hover {
        background-color: transparent;
        color: hsl(231, 69%, 60%);
    }
}

@media screen and (max-width: 768px) {
    .card:nth-of-type(2) {
        margin-top: 0px;
    }
    
    .card:nth-of-type(3) {
        margin-top: 0px;
    }
}