.header {
    width: 100%;
}

.header_wrapper {
    width: 100%;
    padding: 40px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_list_options {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;

    & a {
        text-decoration: none;
        color: hsl(229, 31%, 21%);
        text-transform: uppercase;
        font-weight: 500;
        transition: all .5s ease;
    }

    & a:hover {
        color: hsl(0, 94%, 66%);
    }

    & button {
        width: 150px;
        height: 40px;
        padding: 5px;
        border: none;
        border-radius: 5px;
        text-transform: uppercase;
        font-weight: 500;
        border: 2px solid hsl(0, 94%, 66%);
        background-color: hsl(0, 94%, 66%);
        font-size: .95rem;
        text-decoration: none;
        color: #fff;
        cursor: pointer;
        transition: all .5s ease;
    }

    & button:hover {
        background-color: transparent;
        border: 2px solid hsl(0, 94%, 66%);
        color: hsl(0, 94%, 66%);
    }
}