.container {
    width: 100%;
}

.container section {
    padding: 40px 0px;
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    gap: 45px;

    & .btn_more_info:last-child {
        width: 150px;
        height: 45px;
        background-color: hsl(231, 69%, 60%);
        border: none;
        border-radius: 5px;
        font-size: .95rem;
        color: #fff;
        cursor: pointer;
    }
}

.questions_header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 23px;
    text-align: center;
    
    & h1 {
        text-transform: capitalize;
        font-size: 2.3rem;
        color: hsl(229, 31%, 21%);
    }

    & p {
        color:  hsl(229, 8%, 60%);
        line-height: 1.5rem;
    }
}

.questions_body {
    width: 100%;
}

@media screen and (max-width: 768px) {
    .questions_header {
        & h1 {
            font-size: 1.7rem;
        }
    }
}