.book_in_click {
    
    width: 100%;
}

.book_in_click section {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.book_in_click section .section_banner {
    position: relative;
    display: grid;
    align-items: center;
    justify-content: center;
    place-content: center;
    place-items: center;

    & img {
        width: 500px;
        object-fit: cover;
    }
}

.book_in_click section .section_intro {
    
    display: grid;
    grid-template-columns: 1fr;
    place-content: center;
    place-items: left;
    gap: 25px;
    padding-left: 45px;

    & h1 {
        color: hsl(229, 31%, 21%);
    }

    & p {
        color: hsl(229, 8%, 60%);
        font-size: 1rem;
        line-height: 1.5rem;
        text-align: left;
    }

    & button {
        background-color: hsl(231, 69%, 60%);
        color: #fff;
        width: 130px;
        height: 45px;
        padding: 5px;
        border: none;
        border-radius: 5px;
        font-size: 1rem;
        cursor: pointer;
    }
}

.add_effect {
    position: absolute;
    bottom: -50px;
    left: -400px;
    height: 80%;
    width: 120%;
    background-color: hsl(231, 69%, 60%);
    z-index: -10000;
    border-radius: 0px 90px 90px 0px;
}

@media screen and (max-width: 768px) {
    .book_in_click section {
        grid-template-columns: 1fr;
        gap: 80px;
    }

    .book_in_click section .section_banner {
        & img {
            width: 400px;
        }
    }
}